.navbar .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  
  .navbar .d-flex img {
    margin-right: 0.5rem;
  }
  
  .initials-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 0.8em;
    color: white;
    background-color: #007bff; /* Default color */
    border-radius: 50%;
    text-transform: uppercase;
  }
  