.zoom-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.zoom-modal-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    max-height: 90%;
}

.zoomed-img {
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
}

.zoom-thumbnail {
    transition: transform 0.3s ease;
}

.zoom-thumbnail:hover {
    transform: scale(1.1);
}

.thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.game-right {
    padding-left: 3%;
    padding-top: 0px;
}

.screenshots-container {
    position: relative;
    bottom: -40px;
}

.game-left {
    border: 1px solid #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.game-left .btn-primary {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
}

.game-left .form-select {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    text-align: center;
}

#game-details-card p, h2{
    color: #000000 !important;
}