<div class="container my-4">
    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
    </div>

    <br>
    <div *ngIf="gameDetails" class="row game-details">

        <!-- Left -->
        <div class="col-md-4 game-left">
            <img [src]="gameDetails.thumbnail" [alt]="gameDetails.title" class="img-fluid rounded thumbnail" />
            <h2><strong>{{ gameDetails.title }}</strong></h2>
            <p><strong>Status:</strong> {{ gameDetails.status }}</p>
            <p><strong>Publisher:</strong> {{ gameDetails.publisher }}</p>
            <p><strong>Developer:</strong> {{ gameDetails.developer }}</p>
            <p><strong>Release Date:</strong> {{ gameDetails.releaseDate | date }}</p>

            <div class="bottom-controls">
                <a [href]="gameDetails.gameUrl" target="_blank" class="btn btn-primary">Play Now!</a>

                <!-- Move to List -->
                <div class="my-4">
                    <select id="moveToList" class="form-select" (change)="onListChange($event)" [value]="currentListId">
                        <option [value]="''" disabled selected>Move to...</option>
                        <option *ngFor="let list of userProfile?.lists" [value]="list.id">{{ list.name }}</option>
                    </select>
                </div>
            </div>
        </div>


        <!-- Right -->
        <div class="col-md-8 game-right">
            <h3>Description</h3>
            <p>{{ gameDetails.description }}</p>

            <div *ngIf="gameDetails?.screenshots?.length" class="my-4 screenshots-container">
                <h3>Screenshots</h3>
                <div class="row">
                    <div *ngFor="let screenshot of gameDetails?.screenshots" class="col-md-4 mb-3 screenshot-item">
                        <img [src]="screenshot.image" [alt]="'Screenshot ' + screenshot.id"
                            class="img-fluid rounded zoom-thumbnail" (click)="zoomImage(screenshot.image)" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Minimum System Requirements -->
    <div *ngIf="gameDetails?.minimumSystemRequirements" class="my-4">
        <h3>Minimum System Requirements</h3>
        <div class="requirements">
            <p><strong>Processor:</strong> {{ gameDetails?.minimumSystemRequirements?.processor }}</p>
            <p><strong>Memory:</strong> {{ gameDetails?.minimumSystemRequirements?.memory }}</p>
            <p><strong>Graphics:</strong> {{ gameDetails?.minimumSystemRequirements?.graphics }}</p>
            <p><strong>Storage:</strong> {{ gameDetails?.minimumSystemRequirements?.storage }}</p>
        </div>
    </div>

    <div *ngIf="isZoomed" class="zoom-modal" (click)="closeZoom()">
        <div class="zoom-modal-content">
            <img [src]="zoomedImage" class="zoomed-img" />
        </div>
    </div>
</div>