<div class="container"> 
  <div class="mb-3">
    <input 
      type="text" 
      class="form-control" 
      placeholder="Title, Genre, Platform, ..." 
      [(ngModel)]="searchQuery" 
      (input)="filterGames()" 
    />
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center align-items-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger text-center" role="alert">
    {{ error }}
  </div>

  <div *ngIf="!loading && !error" class="row row-cols-1 row-cols-md-3 g-4 rounded-1">
    <div *ngFor="let game of filteredGames" class="col">
      <div class="card h-100 position-relative game-card" [routerLink]="'/game/' + game.id">
        <img [src]="game.thumbnail" class="card-img-top" [alt]="game.title">
  
        <div class="card-body">
          <h5 class="card-title">{{ game.title }}</h5>
          <p class="card-text text-muted">{{ game.genre }} | {{ game.platform }}</p>
        </div>
  
        <div class="card-overlay rounded-1">
          <h5><strong>{{ game.title }} </strong></h5>
          <h6 class="mb-3">{{ game.shortDescription }}</h6>
  
          <p><strong>Publisher:</strong> {{ game.publisher }}</p>
          <p><strong>Developer:</strong> {{ game.developer }}</p>
          <p><strong>Genre:</strong> {{ game.genre }}</p>
          <p><strong>Release Date:</strong> {{ game.releaseDate | date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
